name: Build

on:
    push:

jobs:
    build:
        name: Build Game
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Project
              uses: actions/checkout@v6
              with:
                  submodules: "recursive"

            - name: "Install dependencies"
              run: |
                  sudo apt-get update -y
                  sudo apt-get install -y \
                    gnome-desktop-testing libasound2-dev libpulse-dev libaudio-dev libjack-dev libsndio-dev \
                    libusb-1.0-0-dev libx11-dev libxext-dev libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev \
                    libxss-dev libxtst-dev libwayland-dev libxkbcommon-dev libdrm-dev libgbm-dev libgl1-mesa-dev \
                    libgles2-mesa-dev libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev libudev-dev fcitx-libs-dev

            - name: CMake Build
              run: |
                  mkdir build
                  cmake -S . -B ./build -DSDL_UNIX_CONSOLE_BUILD=ON
                  make -C build
