name: Build

on:
    push:

jobs:
    build:
        name: ${{ matrix.name }}
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                include:
                    - name: Linux
                      os: ubuntu-latest
                      platform: linux
                    - name: Windows
                      os: windows-latest
                      platform: win

        steps:
            - name: Checkout Project
              uses: actions/checkout@v6
              with:
                  submodules: "recursive"

            - name: CMake Configure
              run: |
                  mkdir build
                  cmake -S . -B ./build -DSDL_UNIX_CONSOLE_BUILD=ON

            - name: Linux Build
              if: matrix.platform == 'linux'
              run: make -C build

            - name: Add msbuild to PATH
              if: matrix.platform == 'win'
              uses: microsoft/setup-msbuild@v2

            - name: Windows Build
              if: matrix.platform == 'win'
              run: |
                  cd build
                  msbuild.exe snivy.vcxproj

